<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Verificacion Correcta!', 'none')" />
<body>
<div class="container-fluid">
	<div th:replace="navigation :: header_menu"></div>
	
	<div>&nbsp;</div>
	
	<div class="text-center">
		<h2>Verificacion completada</h2>
		<h4>Felicidades! su cuanta ha sido validada correctamente..</h4>
		<p><a th:href="@{/login}">Login aqui</a></p>
	</div>

	<div>&nbsp;</div>
	
	<div th:replace="navigation :: footer_menu"></div>
</div>	
</body>
</html>