<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"
	xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('La Tienda de Nacho - Panel de Control', 'none')"/>

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h2>Panel de Control de la Tienda de Nacho</h2>
			Bienvenid@
			<a th:href="@{/account}" sec:authentication="principal.fullname"></a>
			<span sec:authentication="principal.authorities"></span>
		</div>
		<div th:replace="fragments :: footer"></div>
	</div>
	
<script type="text/javascript">
	$(document).ready(function () {
		$("#logoutLink").on("click", function (e) {
			e.preventDefault();
			document.logoutForm.submit();
		});
	});
</script>
</body>

</html>