<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="menu">
		<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
			<input type="submit" />
		</form>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/images/LogoTienda.png}" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
				<span class="navbar-toggler-icon"> </span>
			</button>
			<div class="collapse navbar-collapse" id="topNavbar">
				<ul class="navbar-nav">
				
				<th:block sec:authorize="hasAuthority('Admin')">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown"
						th:href="@{/users}">Usuarios</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/users/new}">Nuevo...</a>
						<a class="dropdown-item" th:href="@{/users}">Ver todos</a>
					</div>
				</li>						
				</th:block>
					
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown"
						th:href="@{/categories}">Categorias</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/categories/new}">Nueva...</a>
						<a class="dropdown-item" th:href="@{/categories}">Ver todas</a>
					</div>						
				</li>		
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown"
						 th:href="@{/brands}">Marcas</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/brands/new}">Nueva...</a>
						<a class="dropdown-item" th:href="@{/brands}">Ver todas</a>
					</div>						 
				</li>
				</th:block>
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Gestor', 'Editor', 'Enviador')">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown"
						th:href="@{/products}">Productos</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/products/new}" 
							sec:authorize="hasAnyAuthority('Admin', 'Editor')">Nuevo...</a>
						<a class="dropdown-item" th:href="@{/products}">Ver todos</a>
					</div>						
				</li>
				</th:block>
					
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Gestor')">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/customers}">Clientes</a>
					</li>
															
					<li class="nav-item">
						<a class="nav-link" th:href="@{/shipping_rates}">Envio</a>
					</li>
					</th:block>
					
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Gestor', 'Enviador')">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/orders}">Pedidos</a>
					</li>
					</th:block>
					<!-- 
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Gestor')">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/reports}">Ventas</a>
					</li>
					</th:block>
					
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/articles}">Articulos</a>
					</li>			
					<li class="nav-item">
						<a class="nav-link" th:href="@{/menus}">Menus</a>
					</li>
					</th:block> -->
										
					<li class="nav-item dropdown" sec:authorize="hasAuthority('Admin')">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" 
						th:href="@{/settings}">Ajustes</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/settings#general}">General</a>
							<a class="dropdown-item" th:href="@{/settings#countries}">Paises</a>
							<a class="dropdown-item" th:href="@{/settings#states}">Provincias</a>
							<a class="dropdown-item" th:href="@{/settings#mailServer}">Servidor correo</a>
							<a class="dropdown-item" th:href="@{/settings#mailTemplate}">Plantillas correo</a>
							<a class="dropdown-item" th:href="@{/settings#payment}">Pagos</a>
						</div>
					</li>
					<li>
						<span class="fas fa-user fa-2x icon-silver"></span>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" 
							th:href="@{/account}" 
							sec:authentication="principal.fullname"></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" id="logoutLink" href="">Logout</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>