<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"
	xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Error - Panel de Control', 'none')"/>

<body>
	<div th:replace="navigation :: menu"></div>
	<div class="container">
		<div class="m-3">
			<h2>Oops!!!!</h2>
			<h3>Ha ocurrido un error en el servidor.</h3><br>
			<h5>Es posible que se deba a un error temporal, Prueba de nuevo mas tarde. </h5>
			<p>Pulsa <a href="/">aqui</a> para volver a la página princiapl.</p>
		</div>
		<div th:replace="fragments :: footer"></div>
	</div>
</body>
</html>