<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Tienda', 'none')" />
<body>
<div th:replace="navigation :: header_menu"></div>
<div th:replace="navigation :: search_nav"></div>
<div class="container-xl">	
	<div class="text-center">
		<h2>Listado por Categorias</h2>
	</div>
	
	<div class="row">
		<div class="col pb-5" th:each="cat : ${listCategories}">
			<div><img th:src="@{${cat.imagePath}}" width="150px" /></div>
			<div class="text-center mt-1">
				<a th:href="@{'/c/' + ${cat.alias}}">[[${cat.name}]]</a>
			</div>
		</div>
	</div>
	
	<div th:replace="navigation :: footer_menu"></div>
</div>	
</body>
</html>