<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Tienda', 'none')" />
<body>
<div class="container text-center">
	<div th:replace="navigation :: header_menu"></div>
	<div class="m-3">
		<h2>Inicia sesion</h2>
	</div>
	
	<div class="mt-3">
		<a class="btn btn-lg btn-secondary fab fa-google" th:href="@{/oauth2/authorization/google}">&nbsp;&nbsp;Continua con Google</a>
	</div>
	
	<div>&nbsp;</div>
	
	<form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto">
		<div th:if="${param.error}">
			<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
		</div>
		<div th:if="${param.logout}">
			<p class="text-warning">Te has desconectado correctamente.</p>
		</div>
		
		<div class="border border-secondary rounded p-3">
			<p>
				<input type="email" name="email" class="form-control" placeholder="E-mail" required />
			</p>
			<p>
				<input type="password" name="password" class="form-control" placeholder="Contraseña" required />
			</p>
			<p>
				<input type="checkbox" name="remember-me" />&nbsp;Recuerdame
			</p>
			<p>
				<input type="submit" value="Login" class="btn btn-primary" />
			</p>			
		</div>
	</form>
	
	<div>&nbsp;</div>
	<div>
		<a th:href="@{/forgot_password}">¿Has olvidado la contraseña?</a>
	</div>
	<div>
		¿No tienes cuenta? <a th:href="@{/register}"><b>Registrate</b></a>
	</div>
	<div>&nbsp;</div>
	
	<div th:replace="navigation :: footer_menu"></div>
</div>	
</body>
</html>