<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="header_menu">
	<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
		<a class="navbar-brand" th:href="@{/}">
			<img th:src="@{${S3_BASE_URI + SITE_LOGO}}" class="rounded" />
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar, #searchNavbar">
			<span class="navbar-toggler-icon"> </span>
		</button>
		<div class="collapse navbar-collapse" id="topNavbar">
			<th:block sec:authorize="!isAuthenticated()">
			<div class="navbar-nav ml-auto">			
				<a class="nav-item nav-link" th:href="@{/login}">Login</a>				
				<a class="nav-item nav-link" th:href="@{/register}">Registro</a>
				<a class="nav-item nav-link" href="">Contacto</a>
			</div>		
			</th:block>
			<th:block sec:authorize="isAuthenticated()">	
				<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
					<input type="submit" value="Logout" />
				</form>
				<div class="navbar-nav ml-auto">		
					<b><a class="nav-item nav-link" th:href="@{/account_details}" 
						sec:authentication="principal.fullName"></a></b>
					<a class="nav-item nav-link" th:href="@{/address_book}">Direcciones</a>
					<a class="nav-item nav-link" th:href="@{/orders}">Pedidos</a>
					<a class="nav-item nav-link" href="javascript: document.logoutForm.submit()">Salir</a>
					<a class="nav-item nav-link fas fa-shopping-cart fa-2x" th:href="@{/cart}"></a>
				</div>
			</th:block>
	</div>
	</nav>
</div>

<div th:fragment="search_nav" class="row">
	<div class="col">	
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="collapse navbar-collapse" id="searchNavbar">
				<form class="form-inline" th:action="@{/search}" method="get">
					<input type="search" name="keyword" class="form-control mr-sm-2"
						th:value="${keyword}" 
						placeholder="texto..." required />
					<input type="submit" value="Buscar" class="btn btn-outline-success" />
				</form>
			</div>
		</nav>
	</div>
</div>

<div th:fragment="footer_menu">
	<hr>
	<div th:fragment="footer" class="text-center">
		<p><small>[[${COPYRIGHT}]]</p></small>
	</div>
</div>
</body>
</html>