*.icon-white {color: while}
*.icon-silver {color: silver}
*.icon-green {color: green}
*.icon-dark {color: gray}
*.icon-red {color: red}

@media screen and (max-width: 768px) {
	/* small screen */
	div.full-details { display: none }
	div.less-details { display: block; }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* medium screen */
	div.full-details { display: block; }
	div.less-details { display: none; }
	.hideable-column { display: none }
}

@media screen and (min-width: 1024px) {
	/* small screen */
	div.less-details { display: none; }
	.hideable-column { display: table-cell; }
}


body {
	font-family: 'Lato', sans-serif;
	background-color: #f7f7f7;
	padding-top: 24px;
}

h2 {
	margin: 0.5em;
}

.container {
	background-color: #ffffff; important!
}

td {
	vertical-align: middle!important;
	font-size: 1.2em;
}
th {
	font-size: 1.3em;
}