<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Pedido completado', 'none')" />
<body>
<div class="container-fluid">
	<div th:replace="navigation :: header_menu"></div>
	<div th:replace="navigation :: search_nav"></div>
	
	<div class="text-center border border-secondary rounded m-3 p-3">
		<h2>Tu pedido se ha completado!</h2>
		<h4>Se ha enviado un correo electronico a su direccion</h4>
		<h4>Por favor, revisalo para confirmar que todo este correcto.</h4>
	</div>

	
	<div th:replace="navigation :: footer_menu"></div>
</div>	
</body>
</html>